<div class="container-fluid" style="min-height:600px; background: linear-gradient(#224c8a, rgb(6, 56, 121));">
    <div style="background-image: url(../../../assets/img/triangle.png);">
  <div class="row">
    <div class="col-sm-12 center">
      <div style="margin-top:120px;">
        <P style="font-size:13px; text-align: center; color:#fff;">FEEL FREE</P>
        <p class="chase" style="margin-top:-15px;"><label style="color: #ffbc2b;">CONTACT US</label></p>
        <p class="bsc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, laboriosam. Quos aperiam perspiciatis tenetur libero?</p>

      </div>
  </div>
 
  </div>
  </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-sm-4">
            <p style="margin-top:40px; font-size:5vh; font-weight: 600; ">What Will   <br><label style="color:#ffbc2b;">Be Next Step?</label></p>
            <p style="font-size:20px; font-weight: 600;">You are one step closer to build your perfect product</p>
        <ol>
<li><p style="font-size:20px; font-weight: 600;">We will prepare a proposal for you or you contact you.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid exercitationem ipsa enim nobis, consectetur nobis voluptate saepe incidunt velit provident! Enim.</p>
</li>
<br>
<li><p style="font-size:20px; font-weight: 600;">Together we discuss it.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid exercitationem ipsa enim nobis, consectetur nobis voluptate saepe incidunt velit provident! Enim.</p>
    </li>

    <br>
    <li><p style="font-size:20px; font-weight: 600;">Let's start building. </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid exercitationem ipsa enim nobis, consectetur nobis voluptate saepe incidunt velit provident! Enim.</p>
        </li>
        </ol> 
        
        </div>
          <div class="col-sm-8 center" style="margin-top:-190px;">
              <div class="col-sm-11" style="height:1000px; background-color: #ffff; border-radius: 15px;">
            <div class="col-sm-12" style="min-height: 220px; background-color: #dfdfdf; border-top-left-radius: 15px; border-top-right-radius: 15px;">
<div class="row">
    <div class="col-sm-3">
     
    </div>
    <div class="col-sm-9 center" style="height:220px;">
        <p style="font-size:25px; font-weight:600;">Write us a few words about your project and we'll prepare a proposal for you within <label style="font-weight:700; color:#ffbc2b;">24</label> hours.</p>
    </div>
</div>
 </div>
 <div class="col-sm-12 center">
     <div class="col-sm-11">
         <form action="" class="row">
             <div class="col-sm-6 center">
                <div class="col-sm-12"><input type="text" style="margin-top:40px;height:60px;background-color: #dfdfdf;" class="form-control"></div>
             </div>

             <div class="col-sm-6 center">
                <div class="col-sm-12"><input type="text" style="margin-top:40px;height:60px;background-color: #dfdfdf;" class="form-control"></div>
             </div>

             <div class="col-sm-6 center">
                <div class="col-sm-12"><input type="text" style="margin-top:40px;height:60px;background-color: #dfdfdf;" class="form-control"></div>
             </div>
             <div class="col-sm-6 center">
                <div class="col-sm-12"><input type="text" style="margin-top:40px;height:60px;background-color: #dfdfdf;" class="form-control"></div>
             </div>
             <div class="col-sm-12 center">
                <div class="col-sm-12"><input type="text" style="margin-top:40px;height:60px;background-color: #dfdfdf;" class="form-control"></div>
             </div>

             <div class="col-sm-12 center">
                <div class="col-sm-12">
                    <textarea name="" id="" rows="8" class="col-sm-12 form-control" style="margin-top: 40px; background-color: #dfdfdf;"></textarea>
                </div>
             </div>

             <div class="col-md-12" style="margin-top:40px;">
                <div class="file-drop-area"> <span class="choose-file-button">Choose files</span> <span class="file-message">or drag and drop files here</span> <input class="file-input" type="file" multiple>
                </div>
            </div>

            <div class="center">
            <button style="background-color:#002f75; color: #fff; font-weight: 700; margin-top:40px;" class="col-sm-12 btn ">SEND</button>
            </div>
         </form>
     </div>

 </div>
</div>


          </div>
      </div>
  </div>

  <div style="margin-top:40px; height:40px;"></div>