<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-ms-7">
                <form action="">
                    <input type="text" class="form-control" id="name">
                    <input type="text" class="form-control" id="contact">
                    <input type="text" class="form-control" id="email">
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="col-sm-5"></div>
        </div>
    </div>
</div>
