<div class="mycard">
          <div class="col-sm-10 mycol2">
            <h1 style="text-align: center;">Search Engine Optimization (SEO)</h1>
            <p> In the world of digital marketing, this marketing strategy plays an important role in helping you increase your reach to potential customers. <br>
            The role of SEO to increase exposure of your company to potential customers on search engines. We will be responsible for your company’s SEO efforts will analyze and implement different website strategies in order to improve your ranking for certain topics or keywords. </p>
            <div class="row">
                <div class="col-sm mybox border rounded-3 mycontainer" >
                    <div style="display: flex;">
                        <img src="assets/img/global.png" width="10%" alt="">
                        <h5 class="ht">Global SEO</h5>
                    </div>
                    <p>Our team of professionals are dedicated to the Global SEO Services benefits. We one of those SEO service providers who can help you reach a global consumer base and take your business international. This, in return, also makes us a reliable international SEO service agency.</p>
                </div>
                <div class="col-sm mybox border rounded-3 mycontainer">
                    <div style="display: flex;">
                        <img src="assets/img/local.jpg" width="10%" alt="">
                        <h5 class="ht">Local SEO</h5>
                    </div>
                    <p>Make a call to us for Local SEO Services for your local SEO needs and to get higher rankings for your website in the local in the search engines. We ensure to deliver the best quality local SEO for your website that will help you get more visitors with time.</p>
                </div>
         
            </div>
        </div>
</div>