.mycard{
    background-image: linear-gradient(67.5deg, rgb(112,201,236) 0%, rgb(112,201,236) 6%,rgb(178,167,167) 6%, rgb(178,167,167) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(209deg, rgb(112,201,236) 0%, rgb(112,201,236) 6%,rgb(178,167,167) 6%, rgb(178,167,167) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(254deg, rgb(112,201,236) 0%, rgb(112,201,236) 6%,rgb(178,167,167) 6%, rgb(178,167,167) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(119deg, rgb(112,201,236) 0%, rgb(112,201,236) 6%,rgb(178,167,167) 6%, rgb(178,167,167) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(209deg, rgb(102,180,217),rgb(221, 221, 221)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
}
.mycol2{
margin: auto;
padding: 1rem;
}
.mybox{
    padding: 1rem;
    margin: 10px;

}
.mybox:hover{

    margin: 10px;
    box-shadow:
    0.5px 0.4px 2.2px rgba(0, 0, 0, 0.042),
    1.3px 0.9px 5.3px rgba(0, 0, 0, 0.061),
    2.4px 1.8px 10px rgba(0, 0, 0, 0.075),
    4.2px 3.1px 17.9px rgba(0, 0, 0, 0.089),
    7.9px 5.8px 33.4px rgba(0, 0, 0, 0.108),
    19px 14px 80px rgba(0, 0, 0, 0.15)
  ;
  

}

.ht{
    margin: 5px 0 0 5px;
}
