.mycard{
    width: 100%;
    height: 100vh;
    background-color: azure;
}
.mycol1{
height: 100vh;
}
.mycol2{

margin: auto;
height: 100vh;
}

.mybox{
    height: 200px;
    margin: 10px;

}
.mybox:hover{
    height: 200px;
    margin: 10px;
    box-shadow:
    0.5px 0.4px 2.2px rgba(0, 0, 0, 0.042),
    1.3px 0.9px 5.3px rgba(0, 0, 0, 0.061),
    2.4px 1.8px 10px rgba(0, 0, 0, 0.075),
    4.2px 3.1px 17.9px rgba(0, 0, 0, 0.089),
    7.9px 5.8px 33.4px rgba(0, 0, 0, 0.108),
    19px 14px 80px rgba(0, 0, 0, 0.15)
  ;
  

}
