<div style="text-align: center;">
    <h1>Services</h1>
</div>
<div class="mycard">
    <div class="row">

        <div class="col-sm-10 mycol2">
            <div class="row">

                <div routerLink="/r&d" class="col-sm mybox border rounded-3" style="background-image: url(assets/img/randd.jpg);background-size: cover;">
                    <h5 class="text">Research and Development</h5>
                </div>
                <div routerLink="/audit&consulting" class="col-sm mybox border rounded-3"  style="background-image: url(assets/img/audit.jpg);background-size: cover;">
                    <h5 class="text">IT Audit and Consulting</h5>
                </div>
                <div class="col-sm mybox border rounded-3"  style="background-image: url(assets/img/dsc.jpg);background-size: cover;">
                    <h5 class="text">Automotive</h5>
                </div>
            </div>
            <div class="row">
                <div routerLink="/software_developement" class="col-sm mybox border rounded-3" style="background-image: url(assets/img/dsc.jpg);background-size: cover;">
                    <h5 class="text" >Software Development Centers</h5>
                </div>
                <div routerLink="/dedicate_software_developement" class="col-sm mybox border rounded-3" style="background-image: url(assets/img/dedicated.jpg);background-size: cover;">
                    <h5 class="text">Dedicated Software Developers</h5>
                </div>
                <div routerLink="/custom_software_developement" class="col-sm mybox border rounded-3" style="background-image: url(assets/img/custom.jpg);background-size: cover;">
                    <h5 class="text">Custom Software Development</h5>
                </div>
            </div>
            <div class="row">
                <div routerLink="/cloud" class="col-sm mybox border rounded-3" style="background-image: url(assets/img/cloud.jpg);background-size: cover;">
                    <h5 class="text">Cloud Computing</h5>
                </div>
                <div routerLink="/frontend" class="col-sm mybox border rounded-3" style="background-image: url(assets/img/frontend.jpg);background-size: cover;">
                    <h5 class="text">Front-end Development</h5>
                </div>
                <div routerLink="/backend" class="col-sm mybox border rounded-3" style="background-image: url(assets/img/backend.jpg);background-size: cover;">
                    <h5 class="text">Backend Development</h5>
                </div>
            </div>
        </div>
       
    </div>
</div>
<div id="section2">
    <app-web-design></app-web-design>
</div>
<div id="section3">
    <app-web-developement [viewAll]=false></app-web-developement>
</div>
<div id="section4">
    <app-mobile-developement></app-mobile-developement>
</div>
<div id="section5">
    <app-seo></app-seo>
</div>