




<div class="container-fluid" style="min-height:700px; background: linear-gradient(rgb(34, 76, 138), rgb(6, 56, 121));">
  <div style="background-image: url(../../../assets/img/circuit2.png); background-repeat: no-repeat;">
<div class="row">
  <div class="col-sm-6 center">
    <div>
      <P class="chase">STACK <label style="color: #ffbc2b;">INFOTECH</label></P>
      <p class="bsc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, laboriosam. Quos aperiam perspiciatis tenetur libero?</p>
<p style="text-align: center;"><button class="button-38">Let Build Your Business</button></p>
    </div>
</div>
<div class="col-sm-6 center" style="height:700px; background-image: url(../../../assets/img/background.png); background-size: contain; background-position:center;"><img src="../../../assets/img/astro.png" style="height:50vh; " alt="" class="img-fluid floating"></div>
</div>
</div>
</div>




  <div class="container-fluid paracks">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4 center" style="height: 600px">
        <div>
          <p style="text-align: center; font-size: 25px; font-weight: 600">
            We Work With Latest Technologies
          </p>
          <img
            src="../../../assets/img/brandWework.png"
            style="height: 40vh"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="col-sm-6 paracks center">
        <div class="col-sm-12 corossdiv" style="background-image: url(../../../assets/img/box.png); background-repeat: no-repeat; background-position: right center;">
          <div>
            <p
              style="
                padding-left: 20px;
                color: #fff;
                font-size: 25px;
                margin-top: 55px;
              "
            >
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p style="padding-left: 20px; color: #fff; font-size: 16px">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Obcaecati et quaerat <br />
              provident dolore eveniet sunt beatae dicta quisquam rerum minima.
            </p>
          </div>

          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2 center" style="margin-left: 20px">
                <div class="col-sm-11 prodBox"></div>
              </div>
              <div class="col-sm-2 center">
                <div class="col-sm-11 prodBox"></div>
              </div>
              <div class="col-sm-2 center">
                <div class="col-sm-11 prodBox"></div>
              </div>
              <div class="col-sm-2 center">
                <div class="col-sm-11 prodBox"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid divContact" style="background-image: url(../../../assets/img/box2.png),url(../../../assets/img/triangle.png); background-repeat: no-repeat; background-position: left center, right;">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 center">
          <div>
            <p style="color: #fff; font-size: 25px">
              Lorem ipsum dolor sit amet.
            </p>
            <p style="color: #ffbc2b; font-size: 23px">
              Lorem ipsum dolor sit amet.
            </p>
          </div>
        </div>
        <div class="col-sm-8 center" style="min-height: 400px">
          <div class="col-sm-12 contactForm center">
            <form action="" class="row" style="padding: 10px">
              <div class="form-group col-sm-6" style="margin-top: 10px">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Name"
                />
              </div>

              <div class="form-group col-sm-6" style="margin-top: 10px">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Contact Details"
                />
              </div>
              <div class="form-group col-sm-12" style="margin-top: 10px">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Your Email Id"
                />
              </div>
              <div class="form-group col-sm-12" style="margin-top: 10px">
                <textarea
                  name=""
                  class="form-control"
                  id=""
                  rows="4"
                  placeholder="Message"
                ></textarea>
              </div>
              <div class="center">
                <button class="btnContact btn">Contact Me</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container" style="padding-top:20px; padding-bottom:20px; background-color:#361856;  margin-top:10vh; border-radius:10px; background-image: url(../../../assets/img/triangle.png);">
  <div class="container" style="min-height:500px;">
    <p style="text-align: center; font-size:4vh; font-weight: 600; color: rgb(238, 238, 238);">
       What We provide
      </p>
      <p style="text-align: center; font-size:2.5vh; font-weight: 600; color: rgb(238, 238, 238);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia in quo necessitatibus cum autem vel.</p>
 <div class="container center">
  <div class="col-sm-11">
    <div class="row">


      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-12 p-3">
            <div class="col-sm-12 trigger" (click)="showDiv.dv= !showDiv.dv;showDiv.dm= false;showDiv.st=false;showDiv.de=false">
              <p>DEVELOPMENT</p>
            </div>
          </div>
          <div class="col-sm-12 p-3">
            <div class="col-sm-12 trigger" (click)="showDiv.dm= !showDiv.dm;showDiv.dv= false;showDiv.st=false;showDiv.de=false">
              <p>DIGITAL MARKETING</p>
            </div>
          </div>
          <div class="col-sm-12 p-3">
            <div class="col-sm-12 trigger" (click)="showDiv.st= !showDiv.st;showDiv.dm= false;showDiv.dv=false;showDiv.de=false" >
              <p>SOFTWARE TESTING</p>
            </div>
          </div>
        
          <div class="col-sm-12 p-3">
            <div class="col-sm-12 trigger" (click)="showDiv.de= !showDiv.de;showDiv.dm= false;showDiv.st=false;showDiv.dv=false">
              <p>DESIGNING</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7" *ngIf="showDiv.dv" style="background-color: rgb(255, 255, 255); border-radius:10px;">
       Hx
      </div>
      <div class="col-sm-7" *ngIf="showDiv.dm" style="background-color: rgb(255, 255, 255); border-radius:10px;">
       Ex
      </div>
      <div class="col-sm-7" *ngIf="showDiv.st" style="background-color: rgb(255, 255, 255); border-radius:10px;">
      Em
      </div>
      <div class="col-sm-7" *ngIf="showDiv.de" style="background-color: rgb(255, 255, 255); border-radius:10px;">
     L  x
      </div>
          <!--  -->
         </div>
   </div>
  </div>
  </div>
</div>
<br><br><br>
<div class="container">
  <p style="text-align: center; font-size:3vh; font-weight:500;">A One Stop Service Solution For You</p>

  <div class="accordion">

    <!-- BOX 1 -->
    <div class="box a1">
      <p class="TextP">Custom Development</p>
        <div class="image_1">
            <div class="text">
                <h2>Barang Jualan Di Sediakan Ke?</h2>
                <p>
                    YA,Barang Jualan Kami Ada Sediakan Untuk Anda
                    Anda Hanya Download Gambar Produk Dan Upload Ke Shopee.
                </p>
            </div>
        </div>
    </div>

    <!-- BOX 2 -->
    <div class="box a2">
      <p class="TextP">AWS Migration</p>
        <div class="image_2">
            <div class="text">
                <h2>Bisnes Shopee Nie Perlukan Printer Ke?</h2>
                <p>
                    YA/TIDAK
                    YA,Jika Anda Ada Produk Di Tangan Anda,Anda Perlu Print Sendiri Waybill(Order) Anda.
                  TIDAK,Jika Anda Buat Dropship Dengan Kami,Anda Hanya Perlu Download Waybill & Bagi Pada Kami
                </p>
            </div>
        </div>
    </div>

    <!-- BOX 3 -->
    <div class="box a3">
      <p class="TextP">Server Maintanance</p>
        <div class="image_3">
            <div class="text">
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum iaculis nisl sed dictum aliquam.
                </p>
            </div>
        </div>
    </div>

    <!-- BOX 1 -->
    <div class="box a4">
      <p class="TextP">Game Development</p>
        <div class="image_4">
            <div class="text">
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum iaculis nisl sed dictum aliquam.
                </p>
            </div>
        </div>
    </div>

    <!-- BOX 5 -->
    <div class="box a5">
      <p class="TextP">Software Testing</p>
        <div class="image_5">
            <div class="text">
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum iaculis nisl sed dictum aliquam.
                </p>
            </div>
        </div>
    </div>

</div>

</div>

<div class="container-fluid" style="background-color:#361856; min-height:330px;">
<div class="row">
  <div class="col-sm-6 center" style="min-height:390px;">
    <div class="col-sm-8">
      <p style="text-align: center; color:#fff; font-size: 3vh;">Why Choose Us!</p>
      <p style="text-align: justify; color:#fff; ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci nobis aliquam neque, quas suscipit voluptate in officia expedita modi commodi aliquid debitis, exercitationem sint cumque consectetur a iure maiores ab inventore saepe fuga dolorem. Optio cupiditate temporibus corporis praesentium quisquam tempore atque nemo cumque modi?</p>
    </div>
  </div>
  <div class="col-sm-6"></div>
</div>
</div>



<div class="container-fluid paracks">
  <div class="row">
    <div class="col-sm-6 paracks center">
      <div class="col-sm-12 corossdiv2">
        <div>
          <p
            style="
              padding-left: 20px;
              color: #fff;
              font-size: 25px;
              margin-top: 55px;
            "
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <p style="padding-left: 20px; color: #fff; font-size: 16px">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Obcaecati et quaerat <br />
            provident dolore eveniet sunt beatae dicta quisquam rerum minima.
          </p>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-2 center" style="margin-left: 20px">
              <div class="col-sm-11 prodBox"></div>
            </div>
            <div class="col-sm-2 center">
              <div class="col-sm-11 prodBox"></div>
            </div>
            <div class="col-sm-2 center">
              <div class="col-sm-11 prodBox"></div>
            </div>
            <div class="col-sm-2 center">
              <div class="col-sm-11 prodBox"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="col-sm-4 center" style="height: 600px">
      <div>
        <p style="text-align: center; font-size: 25px; font-weight: 600">
          Development with best 
        </p>
        <img
          src="../../../assets/img/brandWework2.png"
          style="height: 40vh"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
