<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d">
          <a class="nav-link active dropbtn" aria-current="page" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
          <div class="d nav-item">
            <a class="d-btn nav-link active mylist" routerLink="/services">Services</a>
            <div class="d-content" style="padding: 20px 0 20px 0;">
              <div class="row" style="width: 80%;margin:auto ;padding-bottom: 10px;">
                <div class="column col-sm-2">
                  <h6>MOBILE DEVELOPEMENT</h6>
                    <ul>
                      <li class="menu"> <a [routerLink]="['services']" [fragment]="'section4'"><i class="fab fa-android"></i>Android </a></li>
                      <li class="menu"><a [routerLink]="['services']" [fragment]="'section4'"> <i class="fab fa-apple"></i>IOS</a></li>
                    </ul>
                </div>
                <div class="column col-sm-2">
                  <h6>WEB DEVELOPEMENT</h6>
                    <ul>
                      <li class="menu"><a [routerLink]="['services']" [fragment]="'section2'"> <i class="fab fa-figma"></i>Web Design</a></li>
                      <li class="menu"><a routerLink="/webdev"><i class="fab fa-connectdevelop"></i>Web Developement</a></li>
                      <li class="menu"><a [routerLink]="['services']" [fragment]="'section3'"><i class="fab fa-wordpress"></i>WordPress</a></li>
                      <li class="menu"><a [routerLink]="['services']" [fragment]="'section3'"><i class="fab fa-opencart"></i>Shopify</a></li>
                    </ul>
                </div>

                <div class="column col-sm-3">
                  <h6>SEO</h6>
     <ul>
       <li class="menu">Search Engine Optimization (SEO)</li>
       <li class="menu">Local SEO</li>
       <li class="menu">Small Business SEO</li>
       <li class="menu">Content Marketing Strategy</li>
     </ul>
                </div>
                <div class="column col-sm-2">
                  <h6>ONLINE MARKETING</h6>
  <ul>
    <li class="menu">Social Media Marketing (SMO)</li>
    <li class="menu">Email Marketing</li>
    <li class="menu">Digital Marketing</li>
  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active dropbtn" aria-current="page" routerLink="/contactus">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active dropbtn" aria-current="page" routerLink="/aboutus">ABOUT</a>
        </li>
 
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- 

<div class="mynavbar">
<a href="">Home</a>
<a href="">About</a>
<a href="">contact</a>
<div class="d">
<button class="d-btn">Services</button>
<div class="d-content">
  <div class="row">
    <div class="column">
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>

    </div>
    <div class="column">
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>

    </div>
    <div class="column">
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>
      <a href="">1</a>

    </div>
  </div>
</div>
</div>
</div> -->