<div class="mycard">
    <div class="mo">
        <h1 style="text-align: center;">Web Design</h1>
        <p class="p">Designing is the most crucial part of the development because it is what creates a first impression.
        Good web design helps guide your users' eyes and tell them where you want them to look. On your website, your design can draw attention to special offers, highlight calls to action, and help users identify buttons and clickable elements. All these things can help drive users to take the actions you want.</p>
        <h4 style="text-align: center;">We always use best tools .</h4>
        <img src="assets/img/tools1.png" width="100%" alt="">
    </div>

</div>