<div class="mycard" style="    background-image: url(assets/img/mesh.png);background-repeat: no-repeat;background-size: cover;">
    <div class="row">
        <h1 style="text-align: center;padding: 1rem 0 1rem;">Web Applications Developement</h1>

        <div class="col-sm-10 mycol2">
   
            <div class="row">
                <div class="col-sm mybox border rounded-3 mycontainer" >
                    <div style="display: flex;">
                        <img src="assets/img/react.png" width="10%" alt="">
                        <h5 class="ht">React Developement</h5>
                    </div>
                    <p>React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes.</p>
                </div>
                <div class="col-sm mybox border rounded-3 mycontainer">
                    <div style="display: flex;">
                        <img src="assets/img/angular.svg" width="10%" alt="">
                        <h5 class="ht">Angular Developement</h5>
                    </div>
                    <p>Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your applications.</p>
                </div>
                <div class="col-sm mybox border rounded-3 mycontainer">
                    <div style="display: flex;">
                        <img src="assets/img/net.jpg" width="10%" alt="">
                        <h5 class="ht">.NET Development</h5>
                    </div>
                    <p>. NET Framework is a software development framework for building and running applications on Windows. . NET Framework is part of the . NET platform, a collection of technologies for building apps for Linux, macOS, Windows, iOS, Android, and more.</p>
                </div>
         
            </div>
            <div class="row">
                <div class="col-sm mybox border rounded-3 mycontainer">
                    <div style="display: flex;">
                        <img src="assets/img/php.svg" width="10%" alt="">
                        <h5 class="ht">Php Web Development</h5>
                    </div>
                    <p>A PHP framework is a platform to build PHP web applications. PHP frameworks provide libraries for commonly used functions, which helps to cut down on the amount of original code developers need to write from scratch. A PHP framework provides a basic foundation for the development of web applications in PHP.</p>
                </div>
                <div class="col-sm mybox border rounded-3 mycontainer">
                    <div style="display: flex;">
                        <img src="assets/img/python.png" width="10%" alt="">
                        <h5 class="ht">Python Development</h5>
                    </div>
                    <p>Python Web framework is a collection of packages or modules that allow developers to write Web applications or services. With it, developers don't need to handle low-level details like protocols, sockets or process/thread management.</p>
                </div>
                <div class="col-sm mybox border rounded-3 mycontainer">
                    <div style="display: flex;">
                        <img src="assets/img/cart.png" width="10%" alt="">
                        <h5 class="ht">eCommerce Web Development</h5>
                    </div>
                    <p>We also provide complete customize  eCommerce solutions which can be of different technologies like MEAN Stack , MERN Stack, LAMP Stack and many more different stack according to our clients need .</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm mybox border rounded-3 mycontainer" >
                    <div style="display: flex;">
                        <img src="assets/img/wordpress.png" width="10%" alt="">
                        <h5 class="ht">WordPress Development</h5>
                    </div>
                    <p>WordPress is a content management system (CMS) that allows you to host and build websites. WordPress contains plugin architecture and a template system, so you can customize any website to fit your business, blog, portfolio, or online store.</p>
                </div>
                <div class="col-sm mybox border rounded-3 mycontainer">
                    <div style="display: flex;">
                        <img src="assets/img/shopify.png" width="10%" alt="">
                        <h5 class="ht">Shopify Development</h5>
                    </div>
                    <p>Shopify is a complete commerce platform that lets you start, grow, and manage a business. The subscription-based software allows anyone to set up an online store and sell their products. Shopify store owners can also sell in physical locations using Shopify POS, our point-of-sale app and accompanying hardware.</p>
                </div>
                <div class="col-sm mybox border rounded-3 mycontainer">
                    <div style="display: flex;">
                        <img src="assets/img/joomla.png" width="10%" alt="">
                        <h5 class="ht">Joomla Development</h5>
                    </div>
                    <p>Joomla! is a free and open-source content management system (CMS) for publishing web content. Over the years Joomla! has won several awards. It is built on a model–view–controller web application framework that can be used independently of the CMS that allows you to build powerful online applications.</p>
                </div>
                

          
            </div>
        </div>
       
    </div>
</div>

<div class="all" *ngIf="viewAll">

</div>