.mobile{
  width: 100%;
    padding-top: 2rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1178%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(199%2c 201%2c 203%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c502.661C98.092%2c513.948%2c199.006%2c492.205%2c283.683%2c441.419C369.815%2c389.761%2c417.706%2c299.218%2c475.806%2c217.293C547.707%2c115.908%2c692.592%2c25.535%2c664.485%2c-95.538C635.598%2c-219.972%2c458.379%2c-233.029%2c354.128%2c-306.853C279.08%2c-359.998%2c224.554%2c-438.698%2c137.606%2c-468.643C48.24%2c-499.421%2c-47.493%2c-496.08%2c-140.078%2c-477.06C-238.92%2c-456.755%2c-348.489%2c-435.331%2c-410.821%2c-355.979C-472.622%2c-277.304%2c-432.955%2c-162.069%2c-462.574%2c-66.508C-500.134%2c54.674%2c-662.678%2c163.206%2c-607.088%2c277.248C-550.898%2c392.522%2c-364.837%2c335.993%2c-244.617%2c380.631C-157.428%2c413.004%2c-92.395%2c492.03%2c0%2c502.661' fill='%23b8bbbe'%3e%3c/path%3e%3cpath d='M1440 1081.97C1547.203 1083.8319999999999 1656.658 1093.97 1753.243 1047.416 1856.481 997.655 1942.901 915.4739999999999 1996.062 813.9449999999999 2050.875 709.26 2069.809 588.816 2054.735 471.61400000000003 2039.521 353.33000000000004 1998.1860000000001 233.22899999999998 1910.917 151.94799999999998 1826.943 73.73500000000001 1701.795 75.63999999999999 1592.393 40.99599999999998 1480.123 5.44399999999996 1374.996-77.92600000000004 1259.627-54.29200000000003 1142.313-30.25999999999999 1064.7649999999999 76.43200000000002 984.703 165.483 903.264 256.065 813.016 346.878 791.206 466.718 769.067 588.363 801.439 716.556 865.122 822.538 925.308 922.7 1027.163 988.588 1133.673 1036.654 1229.701 1079.99 1334.662 1080.1399999999999 1440 1081.97' fill='%23d6d7d9'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1178'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.mo{
  
    border-radius: 10px;
    padding: 20PX;
    width: 80%;
    margin: auto;
}



p{
    font-family: 'Roboto', Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    font-size:large;
    letter-spacing:0.1ch;
}