<div class="mycontainer">
  <div class="container-fluid" style="min-height:700px; background: linear-gradient(rgb(34, 76, 138), rgb(6, 56, 121));">
    <div style="background-image: url(../../../assets/img/triangle.png);">
  <div class="row">
    <div class="col-sm-6 center">
      <div>
        <P class="chase">ABOUT<label style="color: #ffbc2b;">US</label></P>
        <p class="bsc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, laboriosam. Quos aperiam perspiciatis tenetur libero?</p>
  <p style="text-align: center;"><button class="button-38">Let Build Your Business</button></p>
      </div>
  </div>
  <div class="col-sm-6 center" style="height:700px; background-image: url(../../../assets/img/background2.png); background-size: contain; background-position:center;"><img src="../../../assets/img/astrowithlaptop.png" style="height:50vh; " alt="" class="img-fluid floating"></div>
  </div>
  </div>
  </div>

  <div class="container containerBody">
<div class="row" style="position: relative; height:350px;">
  <div class="col-sm-6 center" style="position: relative; height: 100%;">
   <div class="col-sm-12" style="padding: 30px;">
    <p class="chase">About Us</p>
    <p style="color:#fff; text-align: justify; text-align-last: center;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, velit similique hic sint necessitatibus voluptate unde sed maxime praesentium! Error accusantium explicabo consequuntur id voluptatum natus eligendi architecto accusamus incidunt perspiciatis, enim optio ipsam asperiores eum repellat, dignissimos earum dolorem. Quis minima, odit rem est ab maxime magnam reprehenderit beatae.</p>

   </div>
  </div>
<div class="col-sm-6">
</div>
</div>
  </div>

  <div class="container-fluid containerBody2">
    <p style="text-align: center;">We Work On</p>
    <div class="container">
      <div class="row">

        <div class="col-sm-4">
          <div class="col-sm-12"> <div class="col-sm-11" style="height:180px;  margin-top:20px;"></div></div>
          <div class="col-sm-12 center" ><div class="col-sm-11" style="height:220px; background-color:#0c3f6e; margin-top:20px; border-radius:10px"></div></div>
          <div class="col-sm-12 center" ><div class="col-sm-11" style="height:220px; background-color:#0c3f6e; margin-top:20px; border-radius:10px"></div></div>
        </div>

        <div class="col-sm-4">
          <div class="col-sm-12 center" ><div class="col-sm-11" style="height:220px; background-color:#0c3f6e; margin-top:20px; border-radius:10px"></div></div>
          <div class="col-sm-12 center" ><div class="col-sm-11" style="height:220px; background-color:#0c3f6e; margin-top:20px; border-radius:10px"></div></div>
        </div>

        <div class="col-sm-4">
          <div class="col-sm-12 center" ><div class="col-sm-11" style="height:220px; background-color:#0c3f6e; margin-top:20px; border-radius:10px"></div></div>
          <div class="col-sm-12 center" ><div class="col-sm-11" style="height:220px; background-color:#0c3f6e; margin-top:20px; border-radius:10px"></div></div>
          <div class="col-sm-12 center" ><div class="col-sm-11" style="height:220px; background-color:#0c3f6e; margin-top:20px; border-radius:10px"></div></div>
      </div>
    </div>
  </div>

  <div class="container containerBody3">
<div class="row">
  <div class="col-sm-6 center" >
<div class="col-sm-11" style="height:320px; background-color:#ffffff; margin-top:20px; border-radius:10px">
<p style="text-align: center;">Our Mission</p>
</div>
  </div>
     
    <div class="col-sm-6 center" >
      <div class="col-sm-11" style="height:320px; background-color:#ffffff; margin-top:20px; border-radius:10px">
        <p style="text-align: center;">Our Vission</p>
      </div>
   
    </div>

  </div>
  </div>
</div>